<%- include _header %>
<div id="content-wrapper">
  <!-- Main content goes here -->
  <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid mui-col-sm-10 mui-col-sm-offset-1">
      <br>
      <h2>近期变更</h2>
        <% commits.forEach(function(commit) { %>
        <div class="row">
            <div class="mui-col-md-12">
                <b><%= commit.subject %></b>
                <br/>
                <small><code><%= commit.abbrevHash %></code> by <%= commit.committerName %> on <%= commit.committerDate %></small>
            </div>
            <div class="mui-col-md-10 mui-col-md-offset-1">
                <ul class="mui-list--unstyled">
                    <% commit.files.forEach(function(f) { %>
                    <li>
                        <a href="<%= config['base'].path + config['dir'].raw %>/<%= f %>" target="_self">
                            <%= f %>
                        </a>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<%- include _footer %>