<%- include _header %>
<div id="content-wrapper">
    <!-- Main content goes here -->
    <div class="mui--appbar-height"></div>
    <div class="mui-container-fluid mui-col-sm-10 mui-col-sm-offset-1">
        <br>
        <h1 class="page-title">
			<%= page.title %>
			<div class="category mui--pull-right">
				<span class="label label-primary"><%= page.category %></span>
			</div>
		</h1>
        <div class="row">
            <%- page.content %>
        </div>
		<div class="space-bottom"></div>
    </div>
	<div class="mui-container-fluid mui-col-sm-10 mui-col-sm-offset-1">
        <div class="row mui-panel">
            <%- include _comment.ejs %>
        </div>
	</div>
</div>
<%- include _footer %>